* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 10px;
}

.product-card {
  border: 1px solid gainsboro;
  border-radius: 0.25em;
  width: 140px;
  background-color: white;
}

.img-product {
  position: relative;
  border-radius: 0.25em;
  background-color: white;
  width: 100%;
}

.product-photo {
  border-radius: 0.25em;
  width: 138px;
  height: 138px;
  object-fit: scale-down;
}

.fav-icon {
  position: absolute;
  z-index: 1;
  top: 0.5em;
  right: 0.5em;
  color: green;
}

.detail-product {
  display: flex;
  flex-direction: column;
  margin: 0.35em;
}

.product-name {
  color: black;
  display: flex;
  justify-content: space-between;
}

.basket-icon {
  color: green;
  font-size: 0.75em;
}

.product-price,
.price {
  color: green;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.distance {
  display: flex;
  align-items: center;
}

.pin-loc-icon {
  font-size: 0.6em;
  margin-right: 0.25em;
  margin-bottom: 0.5rem;
}

.product-sales {
  color: gray;
  display: flex;
  justify-content: space-between;
}

.star-rate {
  color: gold;
  font-size: 0.5em;
  align-items: flex-start;
}

.amount-sales {
  margin: 0;
}

.product-progress {
  margin-top: 0.25em;
}

.progress-bar {
  border-radius: 0.25rem;
}

@media only screen and (min-width: 768px) {
  /* For Desktops and laptops */
  :root {
    font-size: 14px;
  }

  .product-card {
    width: 200px;
  }

  .product-photo {
    width: 198px;
    height: 198px;
    /* object-fit: scale-down; */
  }
}
