* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-card {
  font-size: 10px;
  border: 1px solid gainsboro;
  border-radius: 0.5em;
  width: 130px;
  background-color: white;
}

.img-product {
  position: relative;
  background-color: gray;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  width: 100%;
}

.product-photo {
  background-color: white;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  width: 128px;
  height: 128px;
  object-fit: scale-down;
}

.fav-icon {
  position: absolute;
  z-index: 1;
  top: 0.5em;
  right: 0.5em;
  color: green;
  font-size: 1.5em;
}

.detail-product {
  display: flex;
  flex-direction: column;
  margin: 0.35em;
}

.product-name {
  color: black;
  display: flex;
  justify-content: space-between;
  font-size: 1.25em;
}

.basket-icon {
  color: green;
  /* font-size: 1.25em; */
}

.product-price-distance,
.price {
  color: green;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.product-price {
  font-size: 2em;
}

.unit-price {
  font-size: 1.25em;
}

.distance {
  display: flex;
  align-items: center;
  font-size: 1.1em;
}

.pin-loc-icon {
  font-size: 0.75em;
  margin-right: 0.25em;
  margin-bottom: 0.5rem;
}

.distance-shop {
  font-size: 1em;
}

.product-sales {
  color: gray;
  display: flex;
  justify-content: space-between;
}

.star-rate {
  color: gold;
  font-size: 0.75em;
  align-items: flex-start;
}

.amount-sales {
  font-size: 1em;
  margin: 0;
}

.progress {
  margin-top: 0.25em;
  height: 0.25em;
}

.progress-bar {
  border-radius: 0.25rem;
}

@media only screen and (min-width: 768px) {
  /* For Desktops and laptops */
  .product-card {
    font-size: 16px;
  }

  .product-card {
    width: 200px;
  }

  .product-photo {
    width: 198px;
    height: 198px;
  }

  .progress {
    margin-top: 0.5em;
    height: 0.5em;
  }
}
