:root {
  --main-green-color: #25b36d;

  --box-danger-bg-color: #ffd2da;
  --box-input-bg-color: #f5f5f5;

  --border-menu-color: #bbbbbb;
  --border-danger-color: #ff0000;

  --icon-placeholder-color: #818181;

  --text-white-color: #ffffff;
  --text-black-color: #333333;
  --text-note-color: #757575;
  --text-placeholder: #999999;
}

.App {
  text-align: center;
  /* padding: 1rem;
  display: flex;
  justify-content: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #e0e0e0;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: 282c34;
}

.App-footer {
  background-color: #282c34;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* table {
  border-spacing: 0;
  border: 1px solid black;
}
th,
td {
  margin: 0;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
} */
